<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a5402technologies.shadowsofbrimstonecompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Menu.CharacterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Menu.NewCharacterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Main.NewItems.AddClothingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Menu.ChooseClassActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Main.NewItems.DebugActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Menu.CreateCharacterActivity"
            android:label="@string/title_activity_create_character"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Menu.FinishCharacterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_finish_character"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activities.Main.ShadowsOfBrimstoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_shadows_of_brimstone"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activities.Main.ManagementMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_management_menu"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Activities.Main.NewItems.AddGearBaseActivity" />
        <activity android:name=".Activities.Main.NewItems.AddMeleeWeaponActivity" />
        <activity android:name=".Activities.Main.NewItems.AddRangedWeaponActivity" />
        <activity android:name=".Activities.Main.Equip.EquipRightHandRangedActivity" />
        <activity android:name=".Activities.Main.Equip.EquipLeftHandRangedActivity"></activity>
    </application>

</manifest>